input[type="number"] {
   width:50px;
   border-radius:5px;
}
span{
	color:gold;
}
label{
	color:white;
}
u{	
	font-size:16px;
}
#tallybox  tr th{
	text-align:left;
}
#tallybox tr td{
	font-weight:bold;
	color:white;
}
#comp_wallet,#user_wallet{
	border:2px dotted yellow;
	border-radius:20px;
	width:200px;
	height:100px;
	text-align:center;
}
#about{
	float:right;
	color:white;
	box-shadow: 8px 8px 1px 1px rgba(0, 0, 255, 0.2);
}
#b1{
	color:white;
	box-shadow: 8px 8px 1px 1px rgba(0, 0, 255, 0.2);
}
#rules_table td{
	color:black;
	background-color:white;
	opacity:0.9;
	border:transparent;
}
#rules_table,#t2 td {
	color:black;
	border:solid 1px;
	border-radius:15px;
	background-color:transparent;
}
#t2{
	 border-radius:20px;
	 background-color:transparent;
	 color:black;
}
#t1 thead tr th{
	height:20px;background-color:black;color:white;text-align:center;
}
#t1 thead,#t1 tbody {
	display: block;
}

#data{
    /*overflow-y: scroll;*/    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
.fixed{
	margin-right:10px;
	height:30px;
	border-radius:10px;
	width:100px;
	font-size:15px;
	cursor:pointer;
	font:inherit;
}
.spectrum-background {
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}
.linedecoration{
	color:white;
	text-decoration-line: underline;
	text-decoration-style: wavy;
}
.floatright{
	position:absolute;
	color:white;
	box-shadow: 8px 8px 5px 5px rgba(0, 0, 255, 0.2);
	background-color:grey;
}
.floatleft{
	position:absolute;
	color:white;
	box-shadow: 8px 8px 5px 5px rgba(0, 0, 255, 0.2);
	background-color:grey;
}
.flip-container{
	height:200px;
	width:200px;
	cursor:pointer;
}
.front img,.back img{
	box-shadow:0px 0px 1px 5px rgba(0, 0, 255, 0.2);
	height:200px;
	width:200px;
	border-radius:100%;
}
.front{
	transform:rotateY(0deg);
}
.back{
	z-index:1;
	transform:rotateY(-180deg);
}
.front,.back {
	position:absolute;
	backface-visibility: hidden;
}
.heads{
	transform-style: preserve-3d;
	position:relative;
	animation:headFlips 0.6s forwards;
}
.tails{
	transform-style: preserve-3d;
	position:relative;
	animation:tailFlips 0.6s forwards;
}
@keyframes headFlips{
	0%{transform:rotateY(0deg) scaleX(1) scaleY(1) scaleZ(1);}
	50%{transform:rotateY(900deg) scaleX(1.5) scaleY(1.5) scaleZ(1.5);}
	100%{transform:rotateY(1800deg) scaleX(1) scaleY(1) scaleZ(1);}
}
@keyframes tailFlips{
	0%{transform:rotateY(0deg) scaleX(1) scaleY(1) scaleZ(1);}
	50%{transform:rotateY(900deg) scaleX(1.5) scaleY(1.5) scaleZ(1.5);}
	100%{transform:rotateY(1980deg) scaleX(1) scaleY(1) scaleZ(1);}
}